.form-control {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.form-control input {
  width: 60%;
}
.add-btn,
.sort-btn,
.change-btn,
.info-btn,
.delete-btn {
  padding: 6px 16px;
  text-transform: uppercase;
  border-radius: 6px;
  color: white;
  border: none;
  transition: all 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
  outline: none;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
.info-btn {
  border-radius: 50%;
  padding: 6px 12px;
}
.change-btn a {
  text-decoration: none;
  color: white;
}
.add-btn,
.sort-btn,
.change-btn {
  background: linear-gradient(to right bottom, #0abd34, #024e14);
}
.info-btn {
  background: linear-gradient(to right bottom, #0095ff, #002641);
}
.delete-btn {
  background: linear-gradient(to right bottom, #ff0019, #96000f);
}
.sort-btn {
  background-color: #0abd34;
}
.add-btn:hover,
.sort-btn:hover,
.change-btn:hover,
.delete-btn:hover {
  transform: translateY(-2px);
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.6);
}
.sort-select {
  outline: none;
}
.add-btn:active,
.sort-btn:active,
.change-btn:active,
.delete-btn:active {
  transform: translateY(0px);
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
}
.sort-select:active {
  transform: translateY(-2px);
}

ul {
  padding: 0;
  list-style: none;
}
li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
table {
  width: 100%;
  margin: 20px 0;
  border-spacing: 4px;
  border-collapse: collapse;
  text-align: start;
}
th {
  text-align: start;
}
tr {
  height: 50px;
}
td {
  border-bottom: 1px solid #9f9f9f;
}
.btn-td {
  border: none;
}
.change-td {
  text-align: center;
}
.delete-td {
  text-align: end;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: flex;
  justify-content: flex-end;
  width: 84%;
}
#details-table {
  text-align: center;
}
#details-table th {
  text-align: center;
}
section {
  padding-top: 20px;
}
.item-wrapper {
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  flex-flow: column;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
}
.info-wrapper {
  text-align: left;
  padding: 10px;
}
.info-wrapper span {
  padding-right: 5px;
}
.btn-wrapper {
  text-align: end;
}
.btn-wrapper button {
  margin-left: 10px;
}
